.faq {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqQuestion {
  position: relative;
  font-size: 17px;
  padding-right: 80px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.faqQuestionM {
  position: relative;
  font-size: 12px;
  padding-right: 80px;
  font-weight: bold;
  transition: all 0.2s ease;
}
.faqQuestion::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.faqAnswer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.open .faqQuestion {
  margin-bottom: 15px;
}

.open .faqQuestion::after {
  content: "-";
}

.open .faqAnswer {
  max-height: 1000px;
  opacity: 1;
}
.red {
  color: rgb(253, 94, 94);
}
.blue {
  color: rgb(134, 134, 255);
  font-weight: bold;
  font-size: 17px;
}
