.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 5;
  width: 100%;
}
.icon {
  width: 100px;
}

.language {
  display: flex;
  align-items: center;
}
.lan {
  font-weight: bold;
  font-size: 17px;
}
.line {
  font-size: 17px;
}
.globe {
  width: 20px;
  height: 20px;
}
.landiv {
  margin: 0 8px;
  cursor: pointer;
}

/*뉴스 관련 CSS*/
.ticker {
  background-color: #fff;
  overflow: auto;
  height: 35px;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  opacity: 0.9;
}
.ul {
  display: block;
  padding: 0px;
  line-height: 35px;
  vertical-align: middle;
  margin: 0px;
  list-style: none;
  white-space: nowrap;
  animation: scroll 10s linear 0s infinite;
  position: absolute;
}
.ticker ul li {
  display: inline-block;
  white-space: normal;
  margin-left: 20px;
  font-size: 18px;
}
.newstitle {
  background-color: rgb(142 129 123);
  color: #fff;
  position: absolute;
  left: 0;
  font-weight: bold;
  border-right: 2px solid #fff;
  top: 0;
  display: block;
  height: 35px;
  vertical-align: middle;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
@keyframes scroll {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(-150%, 0);
  }
}

/* Custom CSS */
.ticker {
  width: 400px;
  margin: auto;
}
.ticker ul {
  width: 100%;
}
a {
  text-align: center;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}
