.header {
  z-index: 5;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 5;
  width: 100%;
}
.icon {
  width: 100px;
}
.close {
  float: right;
}
.card {
  width: 65px;
  height: 65px;
  float: right;
  cursor: pointer;
}
.cardmargin {
  margin-right: 15px;
}
.language {
  display: flex;
  align-items: center;
}
.lan {
  font-weight: bold;
  font-size: 17px;
}
.line {
  font-size: 17px;
  color: #e5e5e5;
}

.globe {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-top: 2px;
}
.landiv {
  margin: 3px;
  cursor: pointer;
  font-size: 20px;
}

/*뉴스 관련 CSS*/
.newstitle {
  background-color: rgb(255 253 251);
  color: #585858;
  position: relative;
  font-weight: bold;
  display: block;
  height: 25px;
  line-height: 25px;
  z-index: 10;
  font-size: 15px;
  text-align: center;
  width: 145px;
}
.tickerbox {
  position: fixed;
  /* z-index: 50; */
  /* right: 80px; */
  font-size: 14px;
  list-style: none;
  border-radius: 0.5rem;
  /* background-color: hsl(204 20% 72%); */
  padding: 0.8rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}
.tickerboxM {
  position: absolute;
  z-index: 50;
  top: 60px;
  right: 55px;
  font-size: 11px;
  list-style: none;
  border-radius: 0.5rem;
  /* background-color: hsl(204 20% 72%); */
  padding: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgba(255, 255, 255, 0.7);
}
.tickerbox li {
  padding: 3px;
}

/* 오늘의 토픽 모바일 ver */
.cardM {
  width: 40px;
  height: 40px;
  float: right;
  cursor: pointer;
}
/* Custom CSS */
.ticker {
  width: 360px;
  margin: auto;
}
.ul {
  width: 1500px;
  display: flex;
  justify-content: space-between;
}
a {
  text-align: center;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.nav img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
