.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 5;
  width: 100%;
}
.icon {
  width: 100px;
}
.close {
  float: right;
}
.card {
  width: 65px;
  height: 65px;
  float: right;
}
.language {
  display: flex;
  align-items: center;
}
.lan {
  font-weight: bold;
  font-size: 17px;
}
.line {
  font-size: 17px;
  color: #e5e5e5;
}

.globe {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-top: 2px;
}
.landiv {
  margin: 3px;
  cursor: pointer;
  font-size: 20px;
}

/*뉴스 관련 CSS*/
.ticker {
  background-color: #fff;
  overflow: auto;
  width: 30px;
  height: 35px;
  vertical-align: middle;

  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  opacity: 0.9;
  font-size: 20px;
}
.ul {
  display: block;
  padding: 0px;
  line-height: 35px;
  vertical-align: middle;
  margin: 0px;
  list-style: none;
  white-space: nowrap;
  animation: scroll 30s linear 0s infinite;
  position: absolute;
}
.ticker ul li {
  display: inline-block;
  white-space: normal;
  margin-left: 20px;
  font-size: 18px;
}

/* 오늘의 토픽 모바일 ver */
.tickerM {
  position: fixed;
  top: 0px;
  /* right: 10px; */
  margin: 0 10px 0 10px;
  background-color: #ffffff90;
  overflow: auto;
  height: 40px;
  vertical-align: middle;
  width: 90%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  opacity: 0.9;
  font-size: 18px;
}
.ulM {
  display: block;
  padding: 0px;
  line-height: 40px;
  vertical-align: middle;
  margin: 0 20px 0 20px;
  list-style: none;
  white-space: nowrap;
  animation: scroll 7s linear 0s infinite;
  position: absolute;
}
.tickerM ul li {
  display: inline-block;
  white-space: normal;
  margin-left: 20px;
}

.newstitle {
  background-color: rgb(142 129 123);
  color: #fff;
  position: absolute;
  left: 0;
  font-weight: bold;
  border-right: 2px solid #fff;
  top: 0;
  display: block;
  height: 35px;
  width: 135px;
  vertical-align: middle;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
@keyframes scroll {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(-150%, 0);
  }
}

/* Custom CSS */
.ticker {
  width: 360px;
  margin: auto;
}
.ul {
  width: 1500px;
  display: flex;
  justify-content: space-between;
}
a {
  text-align: center;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}
