.selectbox {
  border: 1px solid gray;
  border-radius: 3px;
  /* width: 20%; */
  font-size: 15px;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px;
  /* background-color: white; */
}
.open {
  font-weight: bold;
}
.selectdropdown {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 3px;
  position: absolute;
  top: 152px;
  width: 100px;
  background-color: #f6f9fe;
  padding: 5px;
}
.selectdropitem {
  font-size: 15px;
  padding: 2px;
}
.selectitem {
  font-size: 16px;
  color: rgb(8 107 225);
}
