.namefont {
  width: 100%;
  font-weight: 1000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  text-align: center;
  word-break: keep-all;
  /* background-size: cover; */
  /* background-position: center; */
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-font-smoothing: antialiased;
  color: transparent;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.01em;
  line-height: 110%;
  margin: 0 0 20px 0;
  /* padding-top: 20px; */
  animation: slide2 1s ease-out;
}
@keyframes slide2 {
  from {
    margin-top: 150px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
.sidebarOuterBox {
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  /* overflow: scroll; */
  background-color: #ffffff50;
  border-radius: 20px;
  padding: 20px;
}

/* .sidebarOuterBox::-webkit-scrollbar {
  display: none;
} */

@keyframes slide {
  from {
    margin-top: 150px;
    opacity: 0;
  }
  to {
    margin-top: 15px;
    opacity: 1;
  }
}
.infoOuter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* overflow: scroll; */
}
.infoboxC {
  width: 49%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #dcdcdc;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 25px 15px 15px 15px;
  margin-top: 15px;
  animation: slide 1s ease-out;
}
.infobox {
  width: 100%;
  background-color: #dcdcdc;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 25px 15px 25px 15px;
  margin-top: 15px;

  animation: slide 1s ease-out;
  display: flex;
}

.flex {
  display: flex;
  font-size: 12px;
  justify-content: center;
}

.columnCenter {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.titleFont {
  margin-top: 20px;
  font-weight: 600;
  margin-right: auto;
  margin-left: 20px;
  animation: fontSlide 1s ease-out;
}

@keyframes fontSlide {
  from {
    margin-top: 150px;
    opacity: 0;
  }
  to {
    margin-top: 20px;
    opacity: 1;
  }
}
.chartTitle {
  font-weight: 600;

  margin: 0 0 20px 10px;
}
.chartContent {
  margin: 0 20px 0 20px;
  font-weight: 600;
  color: #767676;
  line-height: 24px;
}
.icon {
  width: 100px;
  height: 100px;
  margin: 0 20px 0 20px;
}

.label {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
}
.labelM {
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  width: 100%;
}

.value {
  margin: 1px;
  font-weight: 400;
  font-size: 24px;
  width: 100%;
}
.valueM {
  margin: 1px;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}

.subtext {
  margin: 0;
  font-size: 12px;
}
.subtextM {
  margin: 0;
  font-size: 8px;
}

.travelBtn {
  position: sticky;
  bottom: 0px;
  left: calc(50% - 100px);
  border-radius: 4px;
  background-color: #3b396380;
  border: 2px solid #3b3963;
  color: #ffffff90;
  text-align: center;
  font-size: 20px;
  padding: 15px 20px 10px 20px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  transition: color 0.1s;
  cursor: pointer;
  line-height: 110%;
  letter-spacing: 3px;
}

.travelBtn:hover {
  background-color: #3b3963;
  color: #e5e5e5;
  transition: all 0.1s;
}

.travelBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.travelBtn span:after {
  content: "✈️";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 80px;
  transition: 0.5s;
}

.travelBtn:hover span {
  padding-right: 25px;
}

.travelBtn:hover span:after {
  opacity: 1;
  right: -5px;
}
