.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  position: absolute;
  z-index: 5;
  width: 100%;
}
.worldContainer {
  position: relative;
  transition: left 1s ease;
}
.worldContainer .scene-container {
  position: absolute;
}
