.worldContainer {
  position: fixed;
  transition: left 1s ease;
}
.worldContainer .scene-container {
  position: absolute;
}

.sidebar {
  position: absolute;
  height: 100vh;
  /* overflow: scroll; */
  top: 0px;
  color: #15202b;
  background-color: #faf3e7;
  box-shadow: -2px 1px 10px 1px #9d9d9d;
  transition: right 1.1s ease;
  padding: 30px;
  border-radius: 10px 0 0 10px;
}
