.worldContainer {
  position: relative;
  transition: left 1s ease;
}
.worldContainer .scene-container {
  position: absolute;
}

.sidebar {
  position: fixed;
  height: 100vh;
  top: 0px;
  background-color: beige;
  transition: right 1.1s ease;
  padding: 30px;
  border-radius: 20px 0 0 20px;
}
